pandas
numpy
statsmodels>=0.13
linearmodels
pyfixest
scipy
jinja2>=3.0.0
asttokens==3.0.0
backcall==0.2.0
colorama==0.4.6
executing==2.2.1
importlib_metadata==8.5.0
parso==0.8.5
pickleshare==0.7.5
platformdirs==4.3.6
psutil==7.0.0
pure_eval==0.2.3
python-dateutil==2.9.0.post0
pywin32==311
six==1.17.0
stack-data==0.6.3
zipp==3.20.2
